html {
  overflow-x: hidden;
}
body {
  font-family: 'TruenoRegular' !important;
}
#body-div {
  margin: 0;
  /*margin-top: 10vh;*/
  padding: 0;
  width: 100%;
  /*border-top: solid #2f68eb;*/
  border-width: 1px;
}
h1 {
	font-size: 50px;
	font-weight: 700;
	color: #2f68eb;
}
h2{
  color: #2f68eb;
  font-size: 300%;
  font-weight: 700
  margin-top: 0;
  text-align: center;
}
h3{
  margin: 0 0 20px 0;
}
.landing{
  background: url("../images/back.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 100% ;
  width: 100%;
  /*padding-top: 56.25%;*/
  background-size: cover;
}
.landing .landingelements{
  text-align: center;
  /*border:solid black;*/
  height: 50vh;
}
.landing .landingelements .dlogo {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*border: 2px solid rgb(44,44,44);*/
}

.team-block{
  padding-left: 20px;
}

.name1{
  font-size: 150%;
}



.lregister {
    /*width: 100%;*/
    text-align: center;
    background-color: white;
    color: #2f68eb;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border:solid;
    border-width: 1px;
    border-radius: 8px;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bolder;
    transition: background-color 0.2s, color 0.2s;
}
.lregister:hover{
  background-color:#6300d6;
  text-decoration: none;
  color:white;
}
.landing .clogocontain{
  width: 100%;
  height: 100px;
  position: relative;
  /*border:solid black;*/
}

.landing .clogocontain .clogo {
  height: auto;
  width: 100px;
  /*position: absolute;*/
  margin: 20px;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*margin: auto;*/
  /*border: 2px solid rgb(44,44,44);*/
}
.landing .clogocontain .elogo {
  height: auto;
  width: 100px;
  /*position: absolute;*/
  /*margin: 20px;*/
  float: right;
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: auto;*/
  /*border: 2px solid rgb(44,44,44);*/
}

#about {
  /*margin-top: 10px;*/
  /*z-index: 100;*/
  padding: 50px 20px 50px 20px;
  background-color: white;
  /*height: 100%;*/
  /*background-repeat: no-repeat;*/
  /*background-position: right bottom;*/
  /*background-size: 1050px;*/
  max-width: 100%;
  /*z-index: 101;*/
  text-align: center;
  /*position: relative;*/
  /*margin-top: 0;*/
}
.endregister{
  background-color: white;
  height: 100%;
  position: relative;
  text-align: center;
}
footer{
  color: white;
  background-color:#2f68eb;
  text-align: center;
  font-size: 1em;
}
#about h2 {
  color: #2f68eb;
  font-size: 280%;
  margin-top: 0;
}

#about h3 {
  font-size: 160%;
  color: #262626;
  margin-bottom: 0;
  margin-top: 18px;
}

#about h3 a {
  text-decoration: underline;
  color: #262626;
}

#about p {
  max-width: 1000px;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  line-height: 200%;
  font-size: 160%;
}

#about img {
  width: 300px;
  height: auto;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

#schedule
{
background-color: white;
}

#schedule #head{
  padding-top: 50px;
  text-align: center;
}
#schedule h2{
  color: #2f68eb;
  font-size: 280%;
  margin-top: 0;
}

#schedule p{
  max-width: 1000px;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  line-height: 200%;
  font-size: 110%;
}

/*IDF LOGO HOVER BUTTON*/
.idfhover{
  display: inline-block;
  position: relative;
}
.idfhover:hover .overlay {
  display: block;
  background: rgba(76, 67, 255, .1);
}
.overlay {
  position: absolute;
  margin-top: 5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.button {
  position: absolute;
  /*width: 500px;*/
  right: 0;
  bottom: 0;
  /*right:1000px;*/
  /*right: 100%;*/
  text-align: center;
  opacity: 0;
  outline: 0;
  transition: opacity .35s ease;
}
.button a {
  width: 20px;
  /*padding: 12px 48px;*/
  text-align: center;
  /*padding-left: inherit;*/
  color: #4C43FF;
  /*background-color: black;*/
  font-size: 40px;
  /*border: 0px black;*/
  outline: 0;
  text-decoration: none !important;

  z-index: 1;
}
.idfhover:hover .button {
  opacity: 1;
  text-decoration: none !important;
  outline: 0;
}
.idfhover:hover a{
  outline: 0;
  /*border-color: white*/
}

.mentors{
  max-width: 100%;
  height: auto;
  border-radius: 2%;
  width: 100%;

}
.screen{
  border-radius:2%; 
  /*height: 70%;*/
  /*width: 70%;*/

}

.mentordetail{
  line-height: 150% !important;
}

.sponsimages{
  display: inline-block;
  /*padding: 0px 0px 35px 50px;*/
  padding: 20px;
  text-align: center;
  margin: 0 auto;

}

.sponsimages img{
  /*margin: 0px 0px 35px 50px;*/
  width: 350px;
}



.sponsinterest{
  background-color: #2f68eb;
  /*text-align: center;*/
  vertical-align: middle;
  /*display: inline;*/
  /*display: inline-block;*/
}
.sponsinterest h2{
  color: white;
  text-align: left;
  font-size: 250%;
  font-size: 3vw;
  /*border:solid;*/
  display: inline;
  /*left:0;*/
}

.spiwrapper{
  /*margin: 0px 0px 15px 15px;*/
  /*display: inline-block;*/
  /*border:solid white;*/
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.spiwrapper form{
  /*width: 100px;*/
  /*margin-left: 20%;*/
  /*border: solid whiite;*/
  text-align: center;
  display: inline;
  margin-left: 35px;
}

.col-sm-4 a:hover{
    text-decoration: none;
}

input[type=text]{
  border:none;
  border-bottom: 2px solid white;
  background-color: #2f68eb;
  color: white;
  font-size: 20px;
  font-size: 1.5vw;
  padding: 11px;
  /*color: red;*/
}
input:focus {
    outline-width: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

input[type=submit] {
    /*width: 100%;*/
    background-color: #2f68eb;
    color: white;
    padding: 13px 50px;
    margin: 8px 0;
    /*border: none;*/
    border:solid;
    border-width: 1px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: bolder;
    transition: background-color 0.15s;
}

input[type=submit]:hover {
    background-color: #204cb2;
}
.register {
    /*width: 100%;*/
    text-align: center;
    background-color: white;
    color: #2f68eb;
    padding: 5px 20px 5px 20px;
    margin: 5px 0;
    /*border: none;*/
    border:solid #2f68eb;
    border-width: 1px;
    border-radius: 8px;
    /*cursor: none;*/
    font-size: 1.25em;
    /*font-size : 1.5vw;*/
    text-transform: uppercase;
    font-weight: bolder;
    transition: color 0.4s;
    transition: background-color 0.3s;
}
.register:hover{
  background-color:#6300d6;
  text-decoration: none;
  color:white;
}

.flaticon-facebook-logo:before{
  font-size:5em !important;
  color:#3979FD;
  transition: color 0.2s;
  /*background-color: purple;*/
}

.flaticon-linkedin-logo:before{
  color:#0077B5;
  transition: color 0.2s;
}
.flaticon-twitter-logo-silhouette:before{
  color:#1dcaff;
  transition: color 0.2s;

}

.endregister  a:hover i:before{
  color:#6300d6;
}
.container  a:hover i:before{
  color:#6300d6;
}

@media only screen and (max-width:800px){
  input[type=submit] {
    /*width: 100%;*/
    background-color: #2f68eb;
    color: white;
    padding: 13px 50px;
    margin: 8px 0;
    /*border: none;*/
    border:solid;
    border-width: 1px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    /*font-size: 1.5vw;*/
    text-transform: uppercase;
    font-weight: bolder;
    transition: background-color 0.15s;
}
input[type=text]{
  border:none;
  border-bottom: 2px solid white;
  background-color: #2f68eb;
  color: white;
  font-size: 15px;
  /*font-size: 1.5vw;*/
  padding: 2px;
  /*color: red;*/
}
.sponsinterest h2{
  font-size: 200%;
}
}
@media only screen and (max-width:590px){
  
  .sponsinterest h2{
  font-size: 200%;
  width: 100%;
}

.spiwrapper{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  /*display: inline-block;*/
}
.spiwrapper form{

  text-align: center;
  display: block;
  margin-left: 35px;
}
.landing .clogocontain .elogo{
  width:70px;
}
.landing .clogocontain .clogo{
  width: 70px;
}
  }
  @media only screen and (max-width:414px){
    input[type=text]{
  border:none;
  border-bottom: 2px solid white;
  /*background-color: #7400FF;*/
  color: white;
  font-size: 15px;

}
.spiwrapper form{

  text-align: center;
  display: inline;
  margin-left: 10px;
}
  }
  @media only screen and (max-width:569px){
    .sponsimages img{
  width: 300px;
}
.sponsinterest h2{
  font-size: 200%;
}
.spiwrapper form{

  text-align: center;
  display: block;
  margin-left: 0px; 
}
.endregister .register{
  font-size: 3.5vw;
}
.flaticon-facebook-logo:before{
  font-size:3em !important;
  /*color:black;*/
  /*transition: color 0.2s;*/
  /*background-color: purple;*/
}
  }
  @media only screen and (max-width: 801px){
    .endregister h2{
       /*font-size: 20px;*/
      font-size: 5.3vw;
    }
    .spiwrapper form{
      display: block;
    }
  }
.team-block img {
	margin: 0 auto 30px auto;
}

.team-block img:last-child {
	margin-bottom: 0;
}

.team-block .name {
	margin: 0 0 10px 0;
}

.team-block .occupation {
	margin: 0 0 20px 0;
	font-weight: 300;
	opacity: 0.4;
}
.team-block h3 a{
  transition: color 0.3s, opacity 0.3s;
}
.team-block h3 a:hover
{
  color:#6300d6 !important;
  text-decoration: none;
  opacity: 1
}

.team-block .soc-list {
	margin-top: 25px;
}
.team-block [class^=col-] {
  /*padding-left: 40px;*/
  padding-right: 25px;
}
@media (min-width: 992px) {

.team-block [class^=col-] {
	/*padding-left: 40px;*/
	/*padding-right: 40px;*/
}
}
.container,
.container-fluid {
	position: relative;
	z-index: 1;
}

.row [class^=col-] {
	padding-bottom: 40px;
  text-align: center;
}

.row.no-dev [class^=col-],
 .row [class^=col-sm-] {
	padding-bottom: 0px;
  text-align: center;
  display: inline;

}

.row [class^=col-]:last-child {
	padding-bottom: 0;
  text-align: center;

}
}
@media (max-width: 767px) {

.row [class^=col-sm-] {
	padding-bottom: 40px;
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px) {

.fixed-bg {
	background-attachment: scroll !important;
}
}
.screen {
	max-width: 100%;
	height: auto;
}

.container-half {
	position: absolute;
	width: 50%;
	top: 0;
	bottom: 0;
}

.container-half-right {
	right: 0;
}

.container-half-left {
	left: 0;
}

img.full-height {
	height: 100%;
	width: auto;
}

img.full-width {
	width: 100%;
	height: auto;
}
 @media (max-width: 992px) {

.container-half-right,
 .container-half-left {
	display: none;
}
.team-block .occupation{
  font-size: 80%;
}
.team-block .name{
  margin:0px;
}
}

@media only screen and (max-width:766px){
  .screen{
    width: 60%;
  }
  .team-block{
    padding: 0px;
  }
  .mentordetail{
  padding-left: 20px;
  padding-right: 20px;
  /*text-align:justify;*/
}

}